# APP
APPLICATION_NAME=CASERITA-BUSINESS-LOGIC
APP_RUNNING_ENV=HTTP
# PORT=3000

# NATS
NATS_SERVERS="nats://localhost:4222"

# LOGGER
LOGGER_LEVEL=info
LOGGER_ENABLED=true
LOGGER_CLOUD=logtail
TOKEN_LOGTAIL_LOGGER=

# MONGO DATABASE
# DB_USER_MONGO==**********
# DB_KEY_MONGO==**********
# DB_HOST_MONGO==**********
# DB_CONTAINER_NAME_MONGO==**********
# DB_SYNCHRONIZE_MONGO=true

# POSTGRES DATABASE
DB_HOST_POSTGRES==**********
DB_PORT_POSTGRES==**********
DB_USERNAME_POSTGRES==**********
DB_PASSWORD_POSTGRES==**********
DB_CONTAINER_NAME_POSTGRES==**********
DB_SYNCHRONIZE_POSTGRES=true
# DB_SSL_POSTGRES=true

# HASHING
BCRYPT_SALT_OR_ROUNDS=10

# ENCRYPTION
# ENCRYPT_SECRET_KEY=WwMIK54FypnmSR1JPSCdcwxcwCl2cA
ENCRYPT_DATABASE_SECRET_KEY=**********

# JSON WEB TOKEN
JWT_KEY_SECRET=**********
JWT_EXPIRE_IN=8h

# PROXIES
BASE_URL_DATTEBAYO=https://dattebayo-api.onrender.com
TAX_IDENTITY_VALIDATION_BASE_URL=http://localhost:3001/taxidentityvalidations
