# APP
APPLICATION_NAME=CASERITA-BUSINESS-LOGIC
APP_RUNNING_ENV=HTTP
# PORT=3000

# NATS
NATS_SERVERS="nats://localhost:4222"

# LOGGER
LOGGER_LEVEL=info
LOGGER_ENABLED=true
LOGGER_CLOUD=logtail
TOKEN_LOGTAIL_LOGGER=f2LZLSqWaDNfDwuz67gQLnnV

# MONGO DATABASE
# DB_USER_MONGO=brolydev
# DB_KEY_MONGO=Basketball18
# DB_HOST_MONGO=caseritadb-dev.2eaak.mongodb.net
# DB_CONTAINER_NAME_MONGO=cstainfradbdev
# DB_SYNCHRONIZE_MONGO=true

# POSTGRES DATABASE
# DB_HOST_POSTGRES=aws-1-us-east-2.pooler.supabase.com
# DB_PORT_POSTGRES=6543
# DB_USERNAME_POSTGRES=postgres.ubmmdkssgxzyxgrfmqsw
# DB_PASSWORD_POSTGRES=Basketball18
# DB_CONTAINER_NAME_POSTGRES=postgres
# DB_SYNCHRONIZE_POSTGRES=true
# DB_SSL_POSTGRES=true

# ENCRYPTION
# ENCRYPT_SECRET_KEY=WwMIK54FypnmSR1JPSCdcwxcwCl2cA
# ENCRYPT_DATABASE_SECRET_KEY=xDkjHdp132nRLBjUOcvHGAJzb7dGmt

# JSON WEB TOKEN
# JWT_KEY_SECRET=NxqIAUxsd9iGXf6vmZf5xW2FDdLN05kcXctVrHDwWX3x0oe9Am
# JWT_EXPIRE_IN=30s

# PROXIES
BASE_URL_DATTEBAYO=https://dattebayo-api.onrender.com
